/*------------------MOBILE-----------*/

@media (max-width: 900px) {
    * {
        box-sizing: border-box;
    }
    .action_open {
        align-items: center;
        justify-content: end;
        padding: 2vh 0;
    }
    .action_open .action_info {
        width: 98%;
        height: 80%;
    }
    .action_open h2 {
        font-size: 350%;
    }
    .action_open h3 {
        font-size: 220%;
    }
    .action_open .action_info_scrol {
        max-height: 55%;
        font-size: 200%;
    }
    .action_open .action_info_detailed {
        font-size: 260%;
    }
    .action_open img {
        top: 5%;
        left: 0%;
        width: 50%;
        max-height: 20%;
        margin: 0 0 4vh 0;
        position: relative;
    }
}